.slider{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.slider-container{
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.slider-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: transform .3s;
}

.slider-img.left{
  transform: translateX(-100%)
}

.slider-img.right{
  transform: translateX(100%)
}


.slider-btn{
  width: 80px;
  height: 400px;
  margin: 0 10px;
  text-align: center;
  /* background-color: #ddd; */
  cursor:pointer;
}
.slider-btn:hover{
  background-color: #eee;
}
.slider-btn:before{
  font-size: 60px;
  font-weight: bold;
  line-height: 400px;
  color: #aaa;
}
  
.slider-btn.hide{
  visibility: hidden;
}

.slider-prev:before{
  content: '<';
}
.slider-next:before{
  content: '>';
}